# Pandas cheatsheet

In [1]:
import pandas as pd 
import numpy as np

### Data Ingestion

In [5]:
df=pd.DataFrame({'X':[1,np.nan,2,np.nan], 'Y' : [np.nan,3,4,6],'cat' : ['m','f','m','f']})

In [6]:
df

     X    Y cat
0  1.0  NaN   m
1  NaN  3.0   f
2  2.0  4.0   m
3  NaN  6.0   f

In [7]:
df.groupby('cat').count()

     X  Y
cat
f    0  2
m    2  1

In [9]:
df.reset_index(drop=True)

     X    Y cat
0  1.0  NaN   m
1  NaN  3.0   f
2  2.0  4.0   m
3  NaN  6.0   f